%h1 Login

%p Please enter your email to login

.row
  .col
    = form_with scope: :session, url: session_path do |f|
      .form-group
        = f.text_field :email, class: "form-control"
      = f.submit "Login", class: "btn btn-primary"
      = link_to "or sign up", new_user_path, class: "btn btn-link"
  .col
